*{
	box-sizing: border-box;
}
.container{
	margin: 0 auto;
    max-width: 700px;
    width: 100%;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.listbox{
	display: flex;
	justify-content: space-between;
	min-height: 300px;
}
.listbox ul{
	border: 2px solid black;
	max-height: 500px;
    overflow: auto;
}
.listbox ul li{
	position: relative;
	padding: 5px;
	padding-right: 17px;
}
.listbox ul li.checked{
	background-color: #95BCF2;
}
.listbox ul li .delete_btn{
	color: #e83737;
	position: absolute;
	top: 2px;
	right: 5px;
	cursor: pointer;
}
.listbox ul.item_list{
	width: 67%;
	user-select: none;
}
.listbox ul.item_list li{
	padding: 5px;
}
.listbox ul.category_list{
	width: 30%;
}
.listbox ul.category_list li{
	cursor: pointer;
}
.listbox ul.category_list li span{
	
}

form{
	margin-top: 20px;
	position: relative;
}
form input{
	border: 2px solid black; 
	padding: 5px;
}
form .text_inputs{
	width: 67%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
form .text_inputs .warn_message{
	color: #e83737;
	position: absolute;
	margin: 0;
    font-size: 85%;
    top: 34px;
}
form .text_inputs #category_message{
	left: 0;
}
form .text_inputs #item_message{
	left: 55%;
}
form .text_inputs input{
	width: 45%;
}
form #add_btn{
	background-color: #95BCF2;
	width: 20%;
    right: 0px;
    top: 0px;
    position: absolute;
    box-shadow: 3px 2px 1px 0px rgba(0,0,0,0.75);
}
